body {
	font-family: Roboto;
	background-color: #000;
	padding-top: 0;
	position: relative;
}

img.mob-bg {
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
}

h1,h2,h3 {
	font-weight: 700;
}

h3 {
	margin: 0;
	padding: 0 0 10px 0;
}

.container {
	position: relative;
}

#header-container {
	background-color: #d0001b;
	border-bottom: solid 8px #928f90;
	position: relative;
}

#header img {
	width: 250px;
	height: 250px;
}

#header h1 {
	text-indent: -999px;
	position: fixed;
}

#main-image {
	background-image: url(images/d3-1.jpg);
	background-size: cover;
	background-position: 0;
	background-repeat: no-repeat;
	height: 250px;
}

.row.two-line-mob {
	background-color: #000;
	position: relative;
}

#top-nav {
	background-color: #d0001b;
	height: 42px;
	padding-left: 0;
}

#top-nav a {
	color: #fff;
	min-width: 100px;
	float: left;
	line-height: 42px;
	font-weight: 700;
	text-align: center;
}

#top-nav a:hover {
	background-color: #a90000;
	text-decoration: none;
}

#nav {
	background-color: #cbcbcb;
	height: 42px;
	padding: 0;
}

#nav a {
	color: #000;
	min-width: 100px;
	float: left;
	line-height: 42px;
	font-weight: 700;
	text-align: center;
}

#nav a:hover {
	background-color: #928f90;
	text-decoration: none;
}

#nav #usernav {
	padding-left: 20px;
}

#nav #usernav a {
	text-align: left;
	width: 100%;
	color: #fff;
	padding-top: 5px;
	padding-bottom: 0;
}
#nav #usernav a:hover {
	background-color: #333;
}

#nav .navbar-inverse {
	background-color: #928f90;
	border: none;
}
#nav .navbar-inverse .navbar-collapse {
	border: none;
}

#maincontent {
	background-color: #e1e1e1;
	margin: 0;
	padding: 20px;
	clear: both;
	position: relative;
}

.page_container {
	background-color: #fff;
	padding: 20px;
}

.seasonlinks a {
	display: inline-block;
}

#footer {
	background-color: #d0001b;
	height: 42px;
	margin: 0;
	color: #fff;
	padding-top: 12px;
	padding-bottom: 12px;
	position: relative;
}

@media (max-width: 1199px) {
	#main-image {
		background-position: 0 -190px;
	}

	#header img {
		width: 100%;
		height: auto;
		padding-top: 20px;
	}
}

@media (max-width: 991px) {
	#header img {
		width: 250px;
		padding: 0;
	}
	#footer {
		height: auto;
	}
}

@media (max-width: 767px) {
	.container {
		width: 100%;
	}

	#header {
		text-align: center;
	}

	#main-image {
		display: none;
	}
}
